.about {
  padding: 50px 0 190px;
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 70px;
  }
  &-content {
    max-width: 470px;
  }
  &-image {
    position: relative;
  }
  &-phone {
    position: absolute;
    max-width: initial;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &-button {
    margin-top: 65px;
  }
  @include maxw(1279px) {
    padding: 25px 0 100px;
    &-main {
      flex-direction: column;
    }
    &-content {
      max-width: 600px;
      margin-bottom: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    &-button {
      margin-top: 35px;
    }
  }
  @include maxw(767px) {
    padding: 0 0 50px;
    &-phone {
      max-width: 320px;
    }
    &-phone-under {
      max-width: 250px;
    }
  }
}
