.contact {
  margin-bottom: -300px;
  &-main {
    text-align: center;
    padding: 140px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../images/img9.png) no-repeat center/160%;
    background-color: $gray-darkest;
    border-radius: 12px;
    position: relative;
  }
  &-liquid {
    position: absolute;
    right: 100px;
  }
  &-person {
    position: absolute;
    top: 0;
  }
  &-content {
    max-width: 560px;
    margin: 0 auto;
  }

  &-button {
    height: 80px;
    font-size: 24px;
    position: relative;
    z-index: 5;
  }

  @include maxw(1599px) {
    margin-bottom: -250px;
    &-main {
      padding: 80px 20px;
    }
    &-liquid {
      right: 50px;
      bottom: 100px;
    }
  }
  @include maxw(1023px) {
    margin-bottom: -200px;
    &-main {
      padding: 80px 10px;
    }
    &-liquid {
      max-width: 120px;
    }
    &-button {
      font-size: 18px;
      height: 50px;
      padding: 0px 40px;
    }
  }
  @include maxw(767px) {
    margin-bottom: -100px;
    &-main {
      padding: 30px 10px;
      background: url(../images/img9.png) no-repeat center/content-box;
    }
    &-person {
      top: 50px;
    }
    &-liquid {
      max-width: 60px;
      right: 20px;
      bottom: 50px;
    }
    &-button {
      font-size: 12px;
      height: 40px;
      padding: 0px 10px;
    }
    &-content {
      max-width: 250px;
      margin: 0 auto;
    }
  }
}
