.experience {
  padding-bottom: 200px;
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 60px;
  }
  &-number {
    font-size: 400px;
    font-weight: 800;
    text-align: center;
    position: relative;
    flex-grow: 1;

    img {
      position: absolute;
      right: -30px;
      top: 50%;
    }
  }
  &-year {
    position: relative;
    z-index: 2;
    background-color: $gray-dark;
    // táº¡o mask ---------------
    background: url(../images/img7.png) no-repeat center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // -----------x-------------
  }
  &-content {
    max-width: 470px;
    margin-left: auto;
    flex-shrink: 0;
  }
  @include maxw(1599px) {
    &-number {
      font-size: 350px;
    }
  }
  @include maxw(1023px) {
    padding-bottom: 100px;
    &-main {
      flex-direction: column;
    }
    &-content {
      margin: 0 auto;
      text-align: center;
      position: relative;
      z-index: 5;
    }
  }
  @include maxw(767px) {
    &-number {
      font-size: 250px;
    }
  }
}
