.footer {
  &-top {
    padding: 450px 0px 150px;
    background-color: $gray-dark;
  }

  &-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 130px;
  }

  &-logo {
    margin-bottom: 40px;
    display: inline-block;
  }
  &-desc {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .social {
    display: flex;
    align-items: center;
    gap: 0 30px;
  }
  .social-item {
    cursor: pointer;
    color: $gray-light;
    font-size: 25px;
    transition: color 0.2s linear;
    &:hover {
      color: white;
    }
  }
  &-heading {
    font-size: 18px;
    margin-bottom: 40px;
    color: white;
    font-weight: bold;
  }
  &-links {
    list-style: none;
  }
  &-item {
    margin-bottom: 30px;
  }
  &-link {
    display: inline-block;
    color: $gray-light;
    transition: color 0.2s linear;
    &:hover {
      color: white;
    }
  }
  &-info {
    list-style: none;
    margin-bottom: 40px;
  }
  &-info li {
    margin-bottom: 15px;
    line-height: 1.5;
  }
  &-highlight {
    color: white;
  }
  &-bottom {
    background-color: $gray-darker;
  }
  &-container {
    padding: 60px 0;
    position: relative;
  }
  &-rocket {
    color: white;
    border-radius: 4px;
    width: 70px;
    height: 70px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #f475a0, #feac3d);
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translateY(-50%);
    z-index: 2;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover {
      color: $blue;
    }
  }
  @include minw(768px) {
    grid-template-columns: repeat(5, 1fr);
    &-col1 {
      grid-column: 1 /3;
    }
    &-col2 {
      grid-column: 3 / 4;
    }
    &-col3 {
      grid-column: 4 / 6;
    }
  }
  @include maxw(1599px) {
    &-top {
      padding: 350px 0px 100px;
    }
  }
  @include maxw(1023px) {
    &-top {
      padding: 300px 0px 100px;
    }
    &-main {
      grid-gap: 0 30px;
    }
  }

  @include maxw(767px) {
    &-top {
      padding: 150px 0px 50px;
    }
    &-main {
      grid-template-columns: 1fr;
      grid-gap: 30px 0px;
    }
    &-desc {
      margin-bottom: 20px;
    }
    &-rocket {
      width: 50px;
      height: 50px;
      font-size: 20px;
    }
  }
}
