.partner {
  margin-bottom: 200px;
  &-caption {
    margin-bottom: 100px;
    text-align: center;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
  }
  &-item {
    background-color: $gray-dark;
    border-radius: 10px;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
      transition: none 0.3 s step-end;
    }
    &:hover img {
      opacity: 30%;
    }
  }
  @include maxw(1599px) {
    margin-bottom: 150px;
    &-caption {
      margin-bottom: 70px;
    }
  }
  @include maxw(1023px) {
    margin-bottom: 100px;
    &-caption {
      margin-bottom: 50px;
    }
  }
  @include maxw(767px) {
    margin-bottom: 80px;
    &-caption {
      margin-bottom: 40px;
    }
    &-list {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
    }
  }
}
