.review {
  margin-bottom: 200px;
  &-header {
    max-width: 500px;
    text-align: center;
    margin: 0px auto 100px;
  }
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-item {
    max-width: 830px;
    border-radius: 10px;
    background-color: $gray-darker;
    box-shadow: 9px 8px 34px -4px $gray-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 75px 100px 60px;
    position: relative;
  }
  &-icon {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
  }
  &-comment {
    font-size: 30px;
    color: white;
    line-height: lineH(48, 30);
    margin-bottom: 40px;
  }
  &-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50rem;
    object-fit: cover;
    margin-bottom: 20px;
  }
  @include maxw(1599px) {
    margin-bottom: 150px;
  }
  @include maxw(1023px) {
    margin-bottom: 100px;
    &-comment {
      font-size: 24px;
    }
    &-item {
      max-width: 600px;
      padding: 45px 60px 40px;
    }
  }
  @include maxw(767px) {
    margin-bottom: 50px;
    &-header {
      margin-bottom: 60px;
    }
    &-comment {
      font-size: 16px;
      margin-bottom: 20px;
    }
    &-item {
      max-width: 350px;
      padding: 25px 30px 20px;
    }
    &-avatar {
      width: 40px;
      height: 40px;
      margin-bottom: 10px;
    }
    &-author {
      font-size: 16px;
    }
  }
}
