$primary-font: "Open sans", sans-serif;
$secondary-font: "Raleway", sans-serif;
$gray: #393e46;
$gray-light: #6a727f;
$blue: #4944f2;
$gray-lighter: #f7f8f9;
$gray-dark: #2b3139;
$gray-darker: #222831;
$gray-darkest: #1e242e;
