.work {
  padding-bottom: 200px;
  &-header {
    max-width: 500px;
    margin: 0 auto 100px;
    text-align: center;
  }
  &-list {
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    grid-template-rows: 370px 180px 370px;
  }
  &-item {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
    &:nth-child(2) {
      grid-row: 1/3;
      grid-column: 2/3;
    }
    &:nth-child(3) {
      grid-row: 2/4;
      grid-column: 1/2;
    }
  }

  &-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  @include maxw(1599px) {
    padding-bottom: 120px;
    &-header {
      margin-bottom: 60px;
    }
    &-list {
      grid-gap: 25px;
      grid-template-rows: 270px 120px 270px;
    }
  }

  @include maxw(1023px) {
    padding-bottom: 100px;
    &-list {
      grid-gap: 20px;
      grid-template-rows: 220px 80px 220px;
    }
  }
  @include maxw(767px) {
    padding-bottom: 50px;
    &-header {
      margin-bottom: 40px;
    }
    &-list {
      grid-gap: 10px;
      grid-template-rows: 120px 50px 120px;
      margin-bottom: 40px;
    }
  }
}
